<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1g, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Freshly Pressed</title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/appController.js"></script>
    <script src="js/postService.js"></script>
  </head>

  <body ng-app="app">

    <div ng-controller="appController as ctrl">

      <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Freshly Pressed Articles</h1>
        <div class="buttons">
          <button class="button" ng-click="ctrl.refresh()">
            <i class="icon ion-refresh"></i>
          </button>
        </div>
      </ion-header-bar>
      
      <ion-content class="padding"> 

        <ion-refresher on-refresh="ctrl.refresh()"></ion-refresher>


        <div class="card" ng-repeat="post in ctrl.posts track by post.ID">
          <div class="item item-divider">
            <div class="item-avatar-left">
              <img ng-src="{{post.author.avatar_URL}}">
              <h2>{{post.author.name}}</h2>
              <p>{{post.title}}</p>
              <p><a href="{{post.author.URL}}">{{post.author.URL}}</a></p>
            </div>
          </div>
          <div  ng-bind-html="post.content" class="item item-text-wrap">
          </div>
        </div>

      </ion-content>

    </div>

  </body>
</html>
